<div class="continguts">
  <div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <div class="inici-sessio-container">
        <h1 class="text-center">El teu compte</h1>

        <br/>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "Nom" %>
          </div>

          <div class="form-group">
            <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: "Cognoms" %>
          </div>


          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Correu electrònic' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Nova contrasenya'  %>
            <p class="form-text text-muted"><small>Deixa la contrasenya en blanc si no la vols canviar</small></p>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirma la nova contrasenya'  %>
          </div>

          <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Contrasenya actual'  %>
            <p class="form-text text-muted"><small>Necessitem la teva contrasenya actual per confirmar els canvis</small></p>
          </div>

          <div class="form-group">
            <%= f.submit "Guardar els canvis", class: 'btn btn-lg btn-block btn-primary' %>
          </div>
        <% end %>
        <hr>

        <p class="text-center"><%= link_to "Eliminar el teu compte", registration_path(resource_name), data: { confirm: "Segur que vols eliminar el teu compte?" }, method: :delete %></p>
      </div>
    </div>
  </div>
</div>