<div id="container-fase-3" class="container-fase">
	<ul id="sortable">
	  <li><%= image_tag "puzzle_06.jpg", class: "puzzle-slice", id: "puzzle6" %></li>
	  <li><%= image_tag "puzzle_02.jpg", class: "puzzle-slice", id: "puzzle2" %></li>
	  <li><%= image_tag "puzzle_05.jpg", class: "puzzle-slice", id: "puzzle5" %></li>
	  <li><%= image_tag "puzzle_04.jpg", class: "puzzle-slice", id: "puzzle4" %></li>
	  <li><%= image_tag "puzzle_03.jpg", class: "puzzle-slice", id: "puzzle3" %></li>
	  <li><%= image_tag "puzzle_01.jpg", class: "puzzle-slice", id: "puzzle1" %></li>
	</ul>
</div>